@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    background-color: hsl(0, 0%, 98%);
}


p,a,button,h5{
    font-size: 16px;
    color: hsl(0, 0%, 41%);
    margin-left:25px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin: 30px;
    font-weight: 500;
    cursor: pointer;
}

.wrapper-windows{
    display: none;
}

.image{
    min-width: 100px;
    object-fit: contain;
}

.nav-box{
    display: flex;
    flex: 1; 
    align-items: center;
    margin-left:50px;
    transform: translateY(-5px);
}

.options{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    box-shadow:0 0 30px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.options p{
    margin: 0;
    display: flex;
    gap: 10px;
    z-index: 10;
}

.features-relative{
    position: relative;
}

.company-relative{
    position: relative;
    color: hsl(0, 0%, 41%);
}

.features{
    display: none;
    width: 140px;
    padding: 15px 0px 15px 23px;
    gap:25px;
    position: absolute;
    bottom: -170px;
    left: -50px;
}

.company{
    display: none;
    width: 120px;
    padding: 20px 0px 20px 23px;
    gap: 25px;
    position: absolute;
    bottom: -139px;
    left: 125px;
}

.hover-class p:hover{
    color: hsl(0, 0%, 8%);
}
.hover-class:hover{
    color: hsl(0, 0%, 8%);
}

.btn1{
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding:15px 25px;
}

.btn2{
    border:2px solid hsl(0, 0%, 41%);
    background-color: transparent;
    padding:15px 25px;
    border-radius: 15px;
    cursor: pointer;
}
 
.btn2:active{
    color: hsl(0, 0%, 8%);
    border-color: hsl(0, 0%, 8%);
}

main{
    display: flex;
    align-items: center;
    margin:50px 40px 0px 40px ;
    justify-content: space-between;
    gap: 32px;
    margin-top: 150px;
    z-index: 1;
}

.image1{
    object-fit: contain;
    width: 450px;
}
.paragraph-box{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}

.p1{
    font-size:80px;
    font-weight: 700;
    color: hsl(0, 0%, 8%);
}

.p2{
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.paragraph-box button{
    margin: 0;
    padding: 15px 20px;
    font-weight: 700;
    color: white;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    transition: border 0.1s, background-color 0.2s, color 0.2s;
    border-style: solid;
}

.paragraph-box button:active{
    background-color: transparent;
    border: 2px solid black;
    color: black;
}

.client-box{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 50px;
}


.wrapper-mobile{
    display: block;
}

.modal{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 9;
}


.sidebar{
    display: none;
    flex-direction: column;
    justify-content: start;
    gap:20px;
    background-color: white;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    left:150px;
    padding: 90px 30px 0px 10px;
    z-index: 10;
}

.close{
    position: fixed;
    top: 25px;
    right: 20px;
    width: 30px;
}

.main-mobile{
    margin: 0;
}

.paragraph-box-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 30px;
}

.paragraph-box-mobile button{
    margin: 0;
    padding: 15px 20px;
    font-weight: 700;
    color: white;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    transition: border 0.1s, background-color 0.2s, color 0.2s;
    border-style: solid;
    
}

.paragraph-box-mobile button:active{
    background-color: transparent;
    border: 2px solid black;
    color: black;
}

.image1-mobile{
    object-fit: contain;
    width: 100%;
}

.p1-mobile{
    font-size: 50px;
    text-align: center;
}

.p2-mobile{
    text-align: center;
    width:70%;
}

.client-box-mobile{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;

}

.company-options-mobile,.features-options-mobile{
    display: none;
    z-index: 11;
    flex-direction: column;
    gap: 15px;
    margin-left: 15px;
}

@media only screen and (max-width:376px){
    .paragraph-box-mobile{
        height:650px;
        justify-content: space-around;
    }
    
    .p1-mobile{
        font-size: 45px;
    }

    .p2-mobile{
        width: 80%;
    }

    .client-box-mobile{
        transform: scale(0.75);
        bottom: -50px;
    }
}

@media only screen and (min-width:377px) and (max-width: 600px){
    .client-box-mobile{
        transform: scale(0.9);
        bottom: -70px;
    }
    .wrapper-windows{
        display: none;
    }    
    
    .wrapper-mobile{
        display: block;
    }    
}    


@media only screen and (min-width: 601px) and (max-width: 768px){
    .client-box-mobile{
        transform: translateY(100px);
    }
    .image1-mobile{
        width:600px;
    }

    .client-box-mobile{
        bottom: 40px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1439px){
    
    .client-box-mobile{
        transform: translateY(100px);
    }
    .image1-mobile{
        width: 600px;
    }


}


@media(min-width:1440px){
    .client-box-mobile{
        transform: scale(1.1);
        bottom: 200px;
    }
    .wrapper-mobile{
        display: none;
    }

    .wrapper-windows{
        display: block;
    }

    main{
        margin-top: 0;
        margin-left: 350px;
        margin-right: 350px;
    }
    .image1{
        width: 500px;
    }

    .client-box{
        gap: 50px;
    }
    .image{
        transform: scale(0.8);
    }
    nav a,p,button{
        font-size: 15px;
    }
}

